.card {
    margin-top: 20px;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .post-header {
    display: flex;
    align-items: center;
  }
  
  .user_info{
    text-decoration: none;
  }
  .username {
    margin-bottom: 0;
  }
  
  .timestamp {
    color: gray;
    margin-bottom: 0;
  }
  
  .post-content {
    margin-top: 10px;
  }
  
  .post-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .post-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .post-actions {
    margin-top: 10px;
   
  }
  .reaction{
    display: inline-flex;
    margin: 10px;
  }
  
  .btn {
    margin-right: 10px;
  }
  .images_1{
    width:500px;
    height: 400px;
  }
  .images_2{
    width:250px;
    height: 200px;

  }
  .images_3{
    width:250px;
    height: 200px;
    margin-right: 65px;
  
    
  }
  .box_2{
    margin-left:-53px ;
  }
  .msg{
    margin-left: -20px;
  }
  .msg_1{
    margin-left:20px;
  }
  .msg_2{
    margin-left:190px;
  }
  .msg_3{
    margin-left:20px;
  }
  .msg_4{
    margin-left:160px;
  }
  .msg_5{
    margin-left:20px;
  }
  .msg_6{
    margin-left:190px;
  }
  .msg_7{
    margin-left:20px;
  }